body {
  text-align: center;
  margin: 0px 250px 0px 250px;
  font-family: 'Abel', sans-serif;
}

#head-shot {
  border-radius: 50%;
}

p {
  font-size: 17px;
}

#skills-list {
  list-style: none;
}

#skills-list {
  column-count: 3;
}

li {
  font-size: 17px;
}

.project-title {
  font-style: italic;
}

.project-div {
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 50px;
}

.project-div:hover {
  background: #F0F8FF;
}

.project-link {
  color: black;
  text-decoration: none;
}

ol {
  
}

/*.project-text {
  display: inline-block;
  margin-bottom: 20px;
}*/
